*{
  margin:0;
}
 .category{
    background-color:black;
    color:white;
  }
.head{
  background-color:grey;
  color:white;
  text-align:center;
  }
  .category{
    background-color:black;
    color:white;
  }
  .container{
  border:2px white solid;
  border-radius:10px;
   }
  .container h2{
  text-align:center;
  color:#1e90ff;
  font-style:italic;
  padding:10px;
}
.container img{
  margin-left:15px;
}
.container p{
  padding:15px;
  text-align:center;
  font-style:italic;
}
.container1{
  margin-top:20px;
  border:2px white solid;
  border-radius:10px;
}
.container1 h2{
  text-align:center;
  color:#1e90ff;
  font-style:italic;
  padding:8px;
}
.container1 img{
  margin-left:13px;
}
.container1 p{
  padding:10px;
  text-align:center;
  font-style:italic;
}
button{
  padding:5px 10px;
  background-color:grey;
  color:#aaf683;
  margin-top:8px;
  margin-bottom:10px;
  margin-left:140px;
  border-radius:3px;
}
